[submodule "ref/esp-idf"]
	path = ref/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "ref/arduino-esp32"]
	path = ref/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "ref/esp32-bt-serial"]
	path = ref/esp32-bt-serial
	url = https://github.com/olegv142/esp32-bt-serial.git
[submodule "ref/ESP32-Deep-Sleep"]
	path = ref/ESP32-Deep-Sleep
	url = https://github.com/SensorsIot/ESP32-Deep-Sleep.git
[submodule "ref/Adafruit-GFX-Library"]
	path = ref/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "ref/GxEPD"]
	path = ref/GxEPD
	url = https://github.com/ZinggJM/GxEPD.git
[submodule "ref/GxEPD2"]
	path = ref/GxEPD2
	url = https://github.com/ZinggJM/GxEPD2.git
