/*
 *
 *
 *
 */

body, p, h1, div, span, hr {
    margin: 0px;
    padding: 0px 2px;
    font-family: Helvetica;
}

h1.pref {
    color: #0F3376;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
}

p.pref {
    font-size: 2.5rem;
    padding: 6px 10px;
    margin: 0px;
}

.pref-button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 0px;
    width: 100%;
    cursor: pointer;
}


select {
    width: 140px;
    padding: .6em .5em;
    font-family: inherit;
    background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQIALwAvAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/wAALCAAkACQBAREA/8QAGQABAQEBAQEAAAAAAAAAAAAAAAUBBgMJ/8QAJRAAAQMDAwQDAQAAAAAAAAAAAQACAwQFEQYSMSJxwdEhMkGy/9oACAEBAAA/APqmiIi855DFBI8Yy1pIz2UWxatprtiKXFPU8bSel3Y+FZqaqGjhdLPI2KNvLnFR7NqZt6uk0EMe2COPcHu+zjkDj8CurC0OaQRkH4IK4++6IB3T27pdyYCf5PhRqW2XbUEzYZXS7Iekumzhnsrt7Lp+mskZEQL5XDD5Xcn0FTRFmMLURERF/9k=') no-repeat 95% 50%;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.page_title {
    color: rgb(4, 20, 49); 
    font-size: 3em;
}

.pref-group {
    color: rgb(62, 15, 100); 
    ffont-size: 2.6em;
    font-size: 1.9em;
    font-weight: bold;
    padding-top: 12px;
}

.pref-separator {
    margin: 5px 2px;
    color: rgb(44, 31, 31);
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);				
}

hr.style-two {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}			

.pref-title {
    color: rgb(4, 53, 4);
    font-size: 2em;
    margin-bottom: 4px
}

.pref-value {
    color: rgb(97, 92, 92);
    font-size: 1.8em;
    cursor: pointer;
}

.pref-title-button {
    color: rgb(75, 70, 70);
}

.pref-title-button:hover, 
.pref-title-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/*
 *
 *
 *
 */

.popup-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;				
    animation-name: animatetop;
    animation-duration: 0.4s;		
}

.popup-header {
    padding: 6px 12px;
    background-color: #5cb85c;
    color: white;
}

.popup-title {
    font-size: 1.8em;
}

.popup-body {
    padding: 6px 12px;
    font-size: 1.6em;
}

.popup-input {
    width: 100%;
    border: none;
    font-size: 1.2em;
    color: rgb(122, 118, 118); 
}

.popup-input-line {
    width: 100%; 
    margin: 0px; 
    border: 0; 
    height: 1px; 
    background: rgb(122, 118, 118); 
}

.popup-footer {
    padding: 6px 12px;
    background-color: #5cb85c;
    color: white;
}			

@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}			

@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

.popup-accept-button {
    color: rgb(209, 204, 204);
    font-size: 1.6em;
    font-weight: bold;
}

.popup-accept-button:hover, 
.popup-accept-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-close-button {
    color: rgb(209, 204, 204);
    float: right;
    font-size: 1.6em;
    font-weight: bold;
}

.popup-close-button:hover, 
.popup-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}	

.popup-input-number {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
}



/*
 * The switch - the box around the slider
 *
 *
 */

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 28px;
    bottom: -2px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }