.popup-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;				
    animation-name: animatetop;
    animation-duration: 0.4s;		
}

.popup-header {
    padding: 6px 12px;
    background-color: #5cb85c;
    color: white;
}

.popup-title {
    font-size: 1.8em;
}

.popup-body {
    padding: 6px 12px;
    font-size: 1.6em;
}

.popup-input {
    width: 100%;
    border: none;
    font-size: 1.2em;
    color: rgb(122, 118, 118); 
}

.popup-input-line {
    width: 100%; 
    margin: 0px; 
    border: 0; 
    height: 1px; 
    background: rgb(122, 118, 118); 
}

.popup-footer {
    padding: 6px 12px;
    background-color: #5cb85c;
    color: white;
}			

@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}			

@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

.popup-accept-button {
    color: rgb(209, 204, 204);
    font-size: 1.6em;
    font-weight: bold;
}

.popup-accept-button:hover, 
.popup-accept-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-close-button {
    color: rgb(209, 204, 204);
    float: right;
    font-size: 1.6em;
    font-weight: bold;
}

.popup-close-button:hover, 
.popup-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}	

.popup-input-number {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
}